:root {
  font: 16px / 1 Lato;
}

html {
  height: 100%;
}

i {
  height: 100%;
  justify-content: center;
  text-align: center;
}

body {
  margin: 0;
  width: 100%;
}

/* regular css */

#logo {
  width: 320px;
}

select {
  text-align-last: center;
}

caption {
  background: goldenrod;
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 0.75rem;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  border: 1px solid #7d7d7d;

  /* border-top-right-radius: 20%;
  border-top-left-radius: 20%; */
}

header {
  font-size: 2rem;
  justify-content: space-between;
  text-align: left;
  margin-top: 0.6rem;
  margin-left: 0.5rem;
  align-self: center;
}

nav {
  justify-content: space-between;
  text-align: right;
  width: 100%;
  display: flex;
  background-image: url('./assets/blue-banner.jpg');
  background-size: 100% auto;
}

/* .one-item-clip {
  width: 100%;
  display: flex;
  background-image: url('./assets/clipboard.png');
  background-color: rgb(215, 215, 215);
  background-size: 100% auto;
} */

nav ul {
  display: flex;
  margin-right: 0.5rem;
  justify-content: center;
  align-self: center;
}

nav li {
  list-style: none;
}

nav a {
  color: whitesmoke;
  text-decoration: none;
  font-weight: bolder;
  text-align: right;
  font-size: 20px;
  text-transform: uppercase;
  padding: 1rem;
}

nav a:hover {
  color: goldenrod;
  text-decoration: none;
  font-weight: bolder;
  text-align: right;
  font-size: 20px;
  text-transform: uppercase;
  padding: 1rem;
}

.nav {
  position: space-between;
  padding: 0.25rem;
  text-align: right;
}

.nav-line {
  background-color: rgb(20, 20, 85);
  padding: 0.5rem;
  border-bottom: 6px solid goldenrod;
}

.container {
  width: 600px;
  margin: 35px auto;
}
.progressbar {
  counter-reset: step;
  margin-top: 4rem;
}
.progressbar li {
  list-style-type: none;
  width: 25%;
  float: left;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #7d7d7d;
}
.progressbar li:before {
  width: 100px;
  height: 100px;
  content: counter(step);
  counter-increment: step;
  line-height: 100px;
  border: 4px solid hsl(0, 0%, 49%);
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
  font-size: 3rem;
}
.progressbar li:after {
  width: 100%;
  height: 4px;
  content: '';
  position: absolute;
  background-color: #7d7d7d;
  top: 50px;
  left: -50%;
  z-index: -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: navy;
}
.progressbar li.active:before {
  border-color: navy;
}
.progressbar li.active + li:after {
  background-color: navy;
}

.progressbar-container {
  width: 100%;
}

#dropdown-list {
  list-style: none;
}

#active-list {
  border-collapse: collapse;
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 5rem;
  box-shadow: 0px 4px 16px 0px gray;
}

#active-list th {
  border: 1px solid #7d7d7d;
  font-size: 16px;
  text-align: center;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(20, 20, 85);
  color: white;
}

#active-list td {
  border: 1px solid #cecaca;
  font-size: 13px;
  padding: 8px;
  text-align: center;
  font-weight: lighter;
  justify-content: center;
}

#active-list tr:nth-child(even) {
  background-color: #f2f2f2;
}

#active-list tr:hover {
  background-color: #ddd;
}

.update-form-section {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
}

.update-title {
  height: 2rem;
  text-align: center;
  padding-top: 0.75rem;
  font-size: 1.5rem;
  font-weight: bolder;
  display: flex;
  background: goldenrod;
  color: black;
  width: 100%;
  border-top-right-radius: 20%;
  border-top-left-radius: 20%;
  margin-bottom: 0rem;
  justify-content: center;
}

.update-title-bar {
  width: 100%;
  height: 1rem;
  background-color: rgb(20, 20, 85);
}

.update-container {
  display: flex;
  box-sizing: border-box;
  /* width: 850px; */
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  color: rgb(87, 87, 87);
  box-shadow: 0px 4px 16px 0px gray;
  justify-content: space-evenly;
  margin-top: 0rem;
  margin-bottom: 5%;
}

.update-lt-section {
  margin-left: 0.25rem;
  justify-content: center;
  padding: 1rem;
  width: 425px;
}

.update-rt-section {
  justify-content: center;
  padding: 1rem;
  width: 425px;
}

.update-flex-rt {
  list-style: none;
  padding-inline-start: 0rem;
}

.update-flex-rt label {
  text-align: left;
}

.update-flex-rt li {
  margin-bottom: 2rem;
}

.update-punch-image {
  height: 10rem;
  width: 10rem;
  text-align: center;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  border-radius: 75;
  border: solid 1px gray;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 1rem;
  color: rgb(87, 87, 87);
  box-shadow: 0px 4px 16px 0px gray;
  margin: auto;
  display: block;
  flex-direction: column;
}

.update-image-label {
  text-align: center;
  width: 100%;
  margin-left: 8.25rem;
}

.update-flex-lt {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.disabled-input-form {
  height: 2.5rem;
  width: 100%;
  background-color: rgb(206, 206, 206);
  text-align: center;
  border: solid 1px gray;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 1rem;
  color: rgb(87, 87, 87);
  box-shadow: 0px 4px 16px 0px gray;
}

.disabled-input-form-2 {
  height: 5.5rem;
  width: 100%;
  background-color: rgb(206, 206, 206);
  text-align: center;
  border: solid 1px gray;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 1rem;
  color: rgb(87, 87, 87);
  box-shadow: 0px 4px 16px 0px gray;
}

.update-input-form {
  height: 2.5rem;
  width: 100%;
  text-align: center;
  border: solid 1px gray;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 1rem;
  color: rgb(87, 87, 87);
  box-shadow: 0px 4px 16px 0px gray;
}

.update-input-form-2 {
  height: 6.25rem;
  width: 100%;
  text-align: center;
  border: solid 1px gray;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 1rem;
  color: rgb(87, 87, 87);
  box-shadow: 0px 4px 16px 0px gray;
}

.update-flex-lt li {
  align-items: center;
}

.update-flex-lt > li:not(:last-child) {
  margin-bottom: 20px;
}

.update-flex-rt li label,
.update-flex-lt li label,
.update-flex-lt li p {
  padding: 8px;
  font-weight: bolder;
  text-transform: uppercase;
  color: navy;
}

.update-flex-lt > li > label,
.update-flex-lt li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.update-flex-lt > li > label + * {
  flex: 1 0 220px;
}

.update-flex-lt li p {
  margin: 0;
}

.update-flex-lt li input:not([type='text']),
.update-flex-lt li textarea {
  padding: 15px;
  border: none;
  columns: '30';
  width: 25rem;
}

.update-flex-rt li button {
  margin-left: auto;
  justify-content: center;
  align-self: center;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  border-radius: 2px;
}

/* mobile view */

@media screen and (min-width: 320px) and (max-width: 767px) {
  body {
    background-color: rgb(215, 215, 215);
  }

  nav a {
    font-size: 12px;
    padding: 0rem;
  }

  #logo {
    width: 150px;
  }

  .container {
    display: none;
  }

  .progressbar {
    margin-top: 2rem;
    display: none;
  }

  .dropdown-section {
    justify-content: center;
    text-align: center;
    padding: 1rem;
    font-size: smaller;
  }

  .labels {
    margin-top: 1rem;
    text-transform: uppercase;
    color: navy;
  }

  .labels-2 {
    margin-top: 2rem;
    text-transform: uppercase;
    color: navy;
  }

  .facility {
    background-color: rgb(216, 216, 216);
    width: 13rem;
    border: solid 1px gray;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    height: 2rem;
    border-radius: 15;
    color: rgb(87, 87, 87);
    box-shadow: 0px 4px 16px 0px gray;
  }

  .building {
    background-color: rgb(216, 216, 216);
    width: 13rem;
    border: solid 1px gray;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    height: 2rem;
    border-radius: 15;
    color: rgb(87, 87, 87);
    box-shadow: 0px 4px 16px 0px gray;
  }
  .category {
    background-color: rgb(216, 216, 216);
    width: 13rem;
    border: solid 1px gray;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    height: 2rem;
    border-radius: 15;
    color: rgb(87, 87, 87);
    box-shadow: 0px 4px 16px 0px gray;
  }

  .ball-in-court {
    background-color: rgb(216, 216, 216);
    width: 13rem;
    border: solid 1px gray;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 12px;
    height: 2rem;
    border-radius: 15;
    color: rgb(87, 87, 87);
    box-shadow: 0px 4px 16px 0px gray;
  }
  #active-list {
    border-collapse: collapse;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 3rem;
  }

  #active-list th {
    border: 1px solid #7d7d7d;
    padding: 4px;
  }

  #active-list td {
    border: 1px solid #cecaca;
    padding: 4px;
    height: 2rem;
  }

  #active-list tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  #active-list tr:hover {
    background-color: #ddd;
  }

  #active-list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: navy;
    color: white;
  }
}

.work-items-all {
  border-bottom: 1px solid gray;
  padding: 1rem;
}

/* tablet / desktop view view */

@media screen and (min-width: 768px) {
  body {
    background-color: rgb(235, 235, 235);
  }

  nav {
    height: 100px;
  }

  .dropdown-list {
    margin-top: 18rem;
    list-style: none;
    width: 86%;
    margin-left: 7%;
    margin-right: 7%;
  }

  #dropdown-list {
    list-style: none;
    justify-content: space-around;
    display: flex;
    margin-right: 2rem;
  }

  .labels {
    margin-top: 2rem;
    text-transform: uppercase;
    color: navy;
    text-align: center;
  }

  .labels-2 {
    margin-top: 2rem;
    text-transform: uppercase;
    color: navy;
    text-align: center;
  }

  .facility {
    background-color: rgb(216, 216, 216);
    width: 18rem;
    border: solid 1px gray;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    height: 2.5rem;
    border-radius: 15;
    color: rgb(87, 87, 87);
    box-shadow: 0px 4px 16px 0px gray;
  }

  .building {
    background-color: rgb(216, 216, 216);
    width: 18rem;
    border: solid 1px gray;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    height: 2.5rem;
    border-radius: 15;
    color: rgb(87, 87, 87);
    box-shadow: 0px 4px 16px 0px gray;
  }
  .category {
    background-color: rgb(216, 216, 216);
    width: 18rem;
    border: solid 1px gray;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    height: 2.5rem;
    border-radius: 15;
    color: rgb(87, 87, 87);
    box-shadow: 0px 4px 16px 0px gray;
  }

  .ball-in-court {
    background-color: rgb(216, 216, 216);
    width: 18rem;
    border: solid 1px gray;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 1rem;
    height: 2.5rem;
    border-radius: 15;
    color: rgb(87, 87, 87);
    box-shadow: 0px 4px 16px 0px gray;
  }
}
