:root {
  font: 16px / 1 Lato;
}

html {
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
}

/* regular css */

#logo {
  width: 150px;
}

select {
  text-align-last: center;
}

header {
  font-size: 2rem;
  justify-content: space-between;
  text-align: left;
  margin-top: 0.6rem;
  margin-left: 0.5rem;
}

nav {
  justify-content: space-between;
  text-align: right;
  width: 100%;
  display: flex;
  background-image: url('./assets/watchdog-nav.jpg');
  background-size: 100% auto;
}

nav ul {
  display: flex;
  margin-right: 0.5rem;
}

nav li {
  list-style: none;
}

nav a {
  color: whitesmoke;
  text-decoration: none;
  font-weight: bolder;
  text-align: right;
  font-size: 12px;
  text-transform: uppercase;
}

.nav {
  position: space-between;
  padding: 0.25rem;
  text-align: right;
}

.container {
  width: 600px;
  margin: 35px auto;
}
.progressbar {
  counter-reset: step;
}
.progressbar li {
  list-style-type: none;
  width: 25%;
  float: left;
  font-size: 12px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #7d7d7d;
}
.progressbar li:before {
  width: 30px;
  height: 30px;
  content: counter(step);
  counter-increment: step;
  line-height: 30px;
  border: 2px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
}
.progressbar li:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #7d7d7d;
  top: 15px;
  left: -50%;
  z-index: -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: navy;
}
.progressbar li.active:before {
  border-color: navy;
}
.progressbar li.active + li:after {
  background-color: navy;
}

.progressbar-container {
  width: 100%;
}

#dropdown-list {
  list-style: none;
}

#active-list {
  border-collapse: collapse;
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 5rem;
}

#active-list th {
  border: 1px solid #7d7d7d;
  padding: 8px;
}

#active-list td {
  border: 1px solid #cecaca;
  padding: 8px;
}

#active-list tr:nth-child(even) {
  background-color: #f2f2f2;
}

#active-list tr:hover {
  background-color: #ddd;
}

#active-list th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: navy;
  color: white;
}

/* mobile view */

@media screen and (min-width: 320px) and (max-width: 767px) {
  body {
    background-color: rgb(215, 215, 215);
  }

  .container {
    display: none;
  }

  .progressbar {
    display: none;
  }

  .dropdown-section {
    justify-content: center;
    text-align: center;
    padding: 1rem;
    font-size: smaller;
  }

  .labels {
    margin-top: 1rem;
    text-transform: uppercase;
    color: navy;
  }

  .labels-2 {
    margin-top: 2rem;
    text-transform: uppercase;
    color: navy;
  }

  .facility {
    background-color: rgb(186, 186, 186);
    width: 13rem;
    border: solid 1px gray;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    height: 2rem;
    border-radius: 15;
    color: rgb(87, 87, 87);
    box-shadow: 0px 4px 16px 0px gray;
  }

  .building {
    background-color: rgb(186, 186, 186);
    width: 13rem;
    border: solid 1px gray;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    height: 2rem;
    border-radius: 15;
    color: rgb(87, 87, 87);
    box-shadow: 0px 4px 16px 0px gray;
  }
  .category {
    background-color: rgb(186, 186, 186);
    width: 13rem;
    border: solid 1px gray;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    height: 2rem;
    border-radius: 15;
    color: rgb(87, 87, 87);
    box-shadow: 0px 4px 16px 0px gray;
  }

  .ball-in-court {
    background-color: rgb(186, 186, 186);
    width: 13rem;
    border: solid 1px gray;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 12px;
    height: 2rem;
    border-radius: 15;
    color: rgb(87, 87, 87);
    box-shadow: 0px 4px 16px 0px gray;
  }
  #active-list {
    border-collapse: collapse;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 3rem;
  }

  #active-list th {
    border: 1px solid #7d7d7d;
    padding: 4px;
  }

  #active-list td {
    border: 1px solid #cecaca;
    padding: 4px;
    height: 2rem;
  }

  #active-list tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  #active-list tr:hover {
    background-color: #ddd;
  }

  #active-list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: navy;
    color: white;
  }
}

/* tablet / desktop view view */

@media screen and (min-width: 768px) {
  body {
    background-color: rgb(215, 215, 215);
  }

  .dropdown-list {
    margin-top: 10rem;
    list-style: none;
  }

  #dropdown-list {
    list-style: none;
    justify-content: space-around;
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .labels {
    margin-top: 1rem;
    text-transform: uppercase;
    color: navy;
  }

  .labels-2 {
    margin-top: 2rem;
    text-transform: uppercase;
    color: navy;
  }

  .facility {
    background-color: rgb(186, 186, 186);
    width: 13rem;
    border: solid 1px gray;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    height: 2rem;
    border-radius: 15;
    color: rgb(87, 87, 87);
    box-shadow: 0px 4px 16px 0px gray;
  }

  .building {
    background-color: rgb(186, 186, 186);
    width: 13rem;
    border: solid 1px gray;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    height: 2rem;
    border-radius: 15;
    color: rgb(87, 87, 87);
    box-shadow: 0px 4px 16px 0px gray;
  }
  .category {
    background-color: rgb(186, 186, 186);
    width: 13rem;
    border: solid 1px gray;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    height: 2rem;
    border-radius: 15;
    color: rgb(87, 87, 87);
    box-shadow: 0px 4px 16px 0px gray;
  }

  .ball-in-court {
    background-color: rgb(186, 186, 186);
    width: 13rem;
    border: solid 1px gray;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 1rem;
    height: 2rem;
    border-radius: 15;
    color: rgb(87, 87, 87);
    box-shadow: 0px 4px 16px 0px gray;
  }
}
