:root {
  font: 16px / 1 Lato;
}

html {
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
}

.title {
  text-align: center;
}

.container {
  display: flex;
  box-sizing: border-box;
  width: 75%;
  border-radius: 15;
  padding: 2rem;
  color: rgb(87, 87, 87);
  box-shadow: 0px 4px 16px 0px gray;
  justify-content: space-between;
}

.main-container {
  width: 90%;
  max-width: 1200px;
  margin-right: 5rem auto;
}

.flex-left {
  list-style: none;
}

.flex-left label {
  margin-bottom: 2rem;
  text-align: left;
}

.flex-left li {
  margin-bottom: 2rem;
}

.punch-image {
  height: 13rem;
  width: 13rem;
  text-align: center;
  border: solid 1px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.flex-right {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
}

.input-form {
  height: 5rem;
  width: 25rem;
}

.scope {
  height: 2rem;
  width: 28rem;
}

.flex-right {
  width: 50%;
  margin: 0 auto;
}

.flex-right li {
  align-items: center;
}

.flex-right > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-left li label,
.flex-right li label,
.flex-right li p {
  padding: 8px;
  font-weight: bolder;
  text-transform: uppercase;
  color: navy;
}

.flex-right > li > label,
.flex-right li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-right > li > label + * {
  flex: 1 0 220px;
}

.flex-right li p {
  margin: 0;
}

.flex-right li input:not([type='text']),
.flex-right li textarea {
  padding: 15px;
  border: none;
  columns: '30';
  width: 25rem;
}

.flex-right li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  border-radius: 2px;
}
