:root {
  font: 16px / 1 Lato;
}

html {
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
}

.form-section {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
}

.title {
  height: 2rem;
  text-align: center;
  padding-top: 0.75rem;
  font-size: 1.5rem;
  font-weight: bolder;
  display: flex;
  background: goldenrod;
  color: black;
  width: 1rem;
  width: 850px;
  border-top-right-radius: 20%;
  border-top-left-radius: 20%;
  margin-bottom: 0rem;
  justify-content: center;
}

.title-bar {
  width: 100%;
  height: 1rem;
  background-color: rgb(20, 20, 85);
 
}

.container {
  display: flex;
  box-sizing: border-box;
  width: 850px;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  color: rgb(87, 87, 87);
  box-shadow: 0px 4px 16px 0px gray;
  justify-content: space-evenly;
  margin-top: 0rem;
}

.lt-section {
  margin-left: 0.25rem;
  justify-content: center;
  padding: 1rem;
}

.rt-section {
  justify-content: center;
  padding: 1rem;
}

.flex-rt {
  list-style: none;
  padding-inline-start: 0rem;
}

.flex-rt label {
  text-align: left;
}

.flex-rt li {
  margin-bottom: 2rem;
}

.punch-image {
  height: 9rem;
  width: 9rem;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 75;
  border: solid 1px gray;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 1rem;
  color: rgb(87, 87, 87);
  box-shadow: 0px 4px 16px 0px gray;
  margin: auto;
  display: block;
}

.image-label {
  text-align: center;
  width: 100%;
  margin-left: 6rem;
}

.flex-lt {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.input-form {
  height: 2.5rem;
  width: 100%;
  text-align: center;
  border: solid 1px gray;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 1rem;
  color: rgb(87, 87, 87);
  box-shadow: 0px 4px 16px 0px gray;
}

.input-form-2 {
  height: 5.5rem;
  width: 100%;
  border: solid 1px gray;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 1rem;
  color: rgb(87, 87, 87);
  box-shadow: 0px 4px 16px 0px gray;
}

.flex-lt {
  margin: 0 auto;
}

.flex-lt li {
  align-items: center;
}

.flex-lt > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-rt li label,
.flex-lt li label,
.flex-lt li p {
  padding: 8px;
  font-weight: bolder;
  text-transform: uppercase;
  color: navy;
}

.flex-lt > li > label,
.flex-lt li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-lt > li > label + * {
  flex: 1 0 220px;
}

.flex-lt li p {
  margin: 0;
}

.flex-lt li input:not([type='text']),
.flex-lt li textarea {
  padding: 15px;
  border: none;
  columns: '30';
  width: 25rem;
}

.flex-rt li button {
  margin-left: auto;
  justify-content: center;
  align-self: center;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  border-radius: 2px;
}
